

  <div id="container" class="container">
    <!-- LOGIN -->
    <form ng-submit="vm.logIn()">
         <h2>Login</h2>

        <div class="form-group">
            <label for="txtEmail">Email address</label>
            <input ng-model="vm.user.email" type="email" id"txtEmail" class="form-control" placeholder="Enter email" name="email" />
        </div>
        <div class="form-group">
            <label for="txtPass">Password</label>
            <input ng-model="vm.user.password" type="password" class="form-control" id="txtPass" placeholder="Password" name="password" />
        </div>
        <input class="btn-primary" type="submit" value="Login">
        <input class="btn-primary" ng-click="vm.logOut()" ng-show="vm.isLoggedIn()" value="LogOut">
        <input class="btn-primary" ng-click="vm.logOut()"  value="LogOut">

        <h2 ng-show="vm.error">{{vm.error}}</h2>
        <div class="container">
          User: {{vm.currentUser.password.email}}

        </div>
    </form>
    
    </div>


    <!-- / LOGIN -->
